.lazy-image {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    max-width: 100%;
    object-fit: cover;
}
  
.lazy-image.opacity {
    opacity: 1;
}