.App {
  padding: 0 30px;
}
.img {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.scroll {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .2);
}

.box {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
  width: calc(33.3% - 30px);
  margin: 15px;
}

@media only screen and (max-width: 1500px) {
  .box {
    width: calc(50% - 30px);
  }
}

@media only screen and (max-width: 965px) {
  .box {
    width: calc(100% - 30px);
  }
}
